
<ion-card>
  <img src="assets/images/rating-meter.png"/>
  <ion-card-header>
    <ion-card-title>Rate the workshop</ion-card-title>
  </ion-card-header>
  
  <ion-card-content style="padding-bottom:80px">
    <div class="stars-container">
      <ion-icon
        class="star"
        (mouseover)="this.onHover(0)"
        (click)="this.onClick()"
        name="star-outline"></ion-icon>
      <ion-icon
        *ngFor="let star of getStars(); let i = index;"
        class="star"
        (mouseover)="this.onHover(i+1)"
        (click)="this.onClick()"
        name="{{star}}"></ion-icon>
      <p>rating = {{rating}}</p>
    </div>
  </ion-card-content>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/', 'rating', 'average']">Result</ion-button>
  </ion-item>
</ion-card>