<ion-card>
  <img src="assets/images/results.jpg"/>
  <ion-card-header>
    <ion-card-title>{{ getRemark() }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div style="margin:0 auto; width: calc(100% - 40px)">
      <app-progress-bar [progress]="this.average"></app-progress-bar>
      <p>Average = {{ this.average | number:'1.0-1' }}</p>
    </div>
  </ion-card-content>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/', 'rating', 'stars']">Change rating</ion-button>
  </ion-item>
</ion-card>